/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* *{
    margin: 0;
    padding: 0;
  } */

/* Shared styles */
.display-flex{
    display: flex;
}

.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 21px 24px;
    font-weight: 600;
    font-size: 1.25rem;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 150px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.section-description{
    font-size: 1rem;
    margin-bottom: 32px;
}


/* Header styles */

/* Nav-bar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}
.nav-links{
    font-weight: 500;
    font-size: 1.125rem;
}
.nav-item{
    list-style: none;
    margin-left: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* Images & Features related styles */
.teams{
    align-items: center;
    gap: 73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.about-features{
    max-width: 530px;
}
.d-1{
    font-weight: 500;
}
.d-2{
    color: #FF900E;
}

/* Features section */
.features{
    gap: 146px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card-container{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.feature-card-container .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
#experience-badge{
    padding: 46px 42px;
    margin-left: -92px;
    margin-top: -123px;
}
#experience-year{
    font-weight: bold;
    font-size: 4rem;
}
#experience{
    font-weight: 500;
    font-size: 1.5rem;
}


/* Some fact section */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-bottom: 10px;
    margin-top: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Sponsors section */
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* Footer */
footer{
    max-width: 1440px;
    margin: 130px auto;
    background-color: #FFF4E7;
    border-radius: 8px;
}
.footer-cr{
    font-size: 1.25rem;
    padding: 39px 410px;
}


/* Responsive */

/* For Small devices */
@media screen and (max-width:576px){
    .navbar, 
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }
    .team-img-container,
    .fact-container,
    .sponsor-companies{
        grid-template-columns: 1fr;
    }
    .fact-container,
    .sponsor-companies{
        justify-items: center;
        gap: 75px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 35px;
    }
    .featured-architect img{
        width: 100%;
    }
    .footer-cr{
        padding: 75px;
    }
}

/* For Medium Devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 75px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 50px;
    }
    .features{
        flex-direction: column;
        gap: 100px;
    }
    #experience-badge{
        margin: 30px;
    }
    .featured-architect img{
        width: 100%;
    }
    .footer-cr{
        padding: 150px;
    }
}